 <!-- ========== footer start =========== -->
 <footer class="footer">
    <div class="footer-links"> 
            <a href="/" >Get PDF</a>
            <a href="/premium" >Premium</a>
            <a href="/pricing" >Pricing</a>
            <a href="/terms" >Terms</a>         
    </div>
</footer>
  <!-- ========== footer end =========== -->



<!-- ========= All Javascript files linkup ======== -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/88e3276c80.js" crossorigin="anonymous"></script>
<script src="script.js" crossorigin="anonymous"></script>
</body>

</html>