<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web2paper</title>
    <!-- ========== All CSS files linkup ========= -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="custom.css">
</head>

<body>
    <!-- ========== header start ========== -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="header-left col-6">
                    <a href="/" >w2p</a>
                </div>
                <div class="header-right col-6">
                    <!-- profile start -->
                    <div class="profile-box">
                        <a href="/signin" >Sign In</a>
                    </div>
                    <!-- profile end -->
                </div>

            </div>
        </div>
    </header>
    <!-- ========== header end ========== -->