<%- include('partials/header') %>

    <!-- ========== main start ========== -->
    <div class="container-md outer-wrapper">

        <div class="inner-wrapper">
            <form action="/" method="post" id="url-form" class="needs-validation" novalidate>
                <div class="input-group input-style-1">
                    <input autocomplete="off" type="url" class="form-control" placeholder="www.webadress.com" name="url"
                        autofocus>
                    <button type="submit" class="main-btn primary-btn rounded-full btn-hover">Submit</button>
                </div>
            </form>
            <!-- <button type="button" onclick="savePDF()">Save PDF</button> -->
            <!-- <a href="/save" >Save PDF</a> -->

            <div class="icons-wrapper">

                <div>
                    <div class="icon-wrapper">
                        <i class="fas fa-link"></i>
                    </div>
                    
                        <p>
                            Enter web page URL to convert into PDF
                        </p>  
                     
                </div>

                <div>
                    <div class="icon-wrapper">
                        <i class="far fa-play-circle"></i>
                    </div>
                    <p>
                        Press "Submit" and start the process!
                    </p>   
                </div>

                <div>
                    <div class="icon-wrapper">
                        <i class="fas fa-download"></i>
                    </div>
                    <p>
                        Download the result in seconds!
                    </p>   
                </div>

            </div>
        </div>


    </div>
    <!-- ========== main end ========== -->

<%- include('partials/footer') %>

   